@import '../../global-style/_mixins.scss';
@import '../../global-style/_variables.scss';


.data-layout {
    height: 100vh;


    .nav-bar {
        width: 100%;
        background-color: white;
        padding:2em;
        
        @include flex(row, wrap);
        align-items: center;
        justify-content: center;

        #data-title {
            
            @include flex(column, nowrap);
            justify-content: center;
        }


        #logout {
            position: absolute;
            right: 2em;
            color:white;
            background-color: $pinkColor;
            border-radius: $btn-border-radius;
            padding:1.2em 1.5em;
            font-size: 1.3em;
            cursor: pointer;
            margin-left: 5em;
        }

    }


}