@import '../../global-style/_mixins.scss';
@import '../../global-style/_variables.scss';

//ok
.data-layout {
    height: 100vh;


    .nav-bar {
        width: 100%;
        background-color: white;
        padding:2em;
        position: relative;
        

        #data-title {
            width: 100%;
            text-align: center;
            
           
        }


        #logout {
            @include flex(row, wrap);
            align-items: center;
            position: absolute;
            top: 0.4em;
            right: 5em;
            color:white;
            background-color: $pinkColor;
            border-radius: $btn-border-radius;
            width: 6em;
            height: 3.5em;
            text-align: center;
            font-size: 1.3em;
            cursor: pointer;
            

            p {
                margin: auto;
            }
            
        }

    }

    @media screen and (max-width: 550px) {

        .nav-bar {
            @include flex(column, nowrap);
            align-items: center;
            margin-left: -2.2em;
            #logout {
                position: unset;
                margin-top: 1em;
               
                
            }


        }

        
    }


}

