@import '../../global-style/_mixins.scss';
@import '../../global-style/_variables.scss';

//ok
.data-layout {
    height: 100vh;


    .nav-bar {
        width: 100%;
        background-color: white;
        padding:2em;
        position: relative;
        

        #data-title {
            width: 100%;
            text-align: center;
            
           
        }


        #logout {
            position: absolute;
            top: 1em;
            right: 3em;
            color:white;
            background-color: $pinkColor;
            border-radius: $btn-border-radius;
            width: 5em;
            height: 2em;
            text-align: center;
            font-size: 1.3em;
            cursor: pointer;
            margin-left: 5em;
        }

    }

    @media screen and (max-width: 550px) {

        .nav-bar #logout {
            position: unset;
            margin-top: 1em;
            margin-left: -2.5em;
        }
    }


}

