@import '../../global-style/_mixins.scss';

.data-wrapper {
    height: 100%;
    display:relative;
    box-sizing: border-box;
}

#add-pass-container {

    @include flex(column, nowrap);
    @include absolute(200px);
    border-radius:4em;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding:2em;
    

    form {

        * {
            display: block;
        }
    }

}


#modal-overlay {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0, 0.75);
}


#all-pass-wrapper {
    @include flex(row, wrap);
    
    .pass-container {
        background-color: white;
        padding:2em;
        width:100px;
        border-radius: 5px;
        margin:1em;

        .account-name {
            font-size: 1.3em;
        }
    }
}



