@import '../../global-style/_mixins.scss';
@import '../../global-style/_variables.scss';
@import '../../global-style/_animations.scss';

.data-wrapper {
    height: 100%;
    display:relative;
    box-sizing: border-box;
}

.module-container {

    @include flex(column, nowrap);
    @include absolute(200px);
    border-radius:4em;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding:2em;
    

    form {

        * {
            display: block;
        }

        input:first-of-type {
            margin-bottom: 1em;
        }

        #add-account {
            background-color: $pinkColor;
            border: none;
            color: white;
            padding: 1em 1em;
            border-radius: $btn-border-radius;
            cursor: pointer;
            margin: auto;
            margin-top:2em;
            margin-bottom: -1em;

        }
    }

    #pass-title {
        position: absolute;
        top: 30%;
    }

    #pass-spinner {
        font-size: 2em;
        color: $pinkColor;
        transform-origin: 48% 50%;
        animation-name: loading-animation;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    #password {
        font-size: 2em;
    }


    #delete-btn {
        cursor: pointer;
        position: absolute;
        bottom: 1.5em;
        color: $pinkColor;
        font-size: 3em;
    }

   

}


.close-btn {
    cursor: pointer;
    position: absolute;
    color: $pinkColor;
    font-size: 2em;
    top:20px;
    right: 20px;
}

#modal-overlay {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0, 0.75);
}


#all-pass-wrapper {
    @include flex(row, wrap);
    
    .pass-container {
        background-color: white;
        padding:2em;
        width:100px;
        border-radius: $btn-border-radius;
        margin:1em;
        cursor: pointer;

        .account-name {
            font-size: 1.3em;
        }
    }
}



